/node_modules
/npm-debug.log*

/public/build
/public/hot
/public/storage
/storage/*.key
/vendor/
.env
.env.*
!.env.example

/.phpunit.result.cache
phpunit.xml

/.idea
/.vscode
*.swp
*.swo
.DS_Store
Thumbs.db

/bootstrap/cache/*.php
/storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Local dev and OS files
*.local
*.orig
*.tmp
